@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-12">
        <form id="profile-form" class="row" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Please choose your username." disabled />
                <label asp-for="Username" class="ms-2 text-muted"></label>
            </div>
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number."/>
                <label asp-for="Input.PhoneNumber" class="ms-2 text-muted"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.Name" class="form-control" placeholder="Please enter your full name." />
                <label asp-for="Input.Name" class="ms-2 text-muted">Full Name</label>
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.StreetAddress" class="form-control" placeholder="Please enter your Street Address." />
                <label asp-for="Input.StreetAddress" class="ms-2 text-muted">Street Address</label>
                <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.City" class="form-control" placeholder="Please enter your City." />
                <label asp-for="Input.City" class="ms-2 text-muted">City</label>
                <span asp-validation-for="Input.City" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.State" class="form-control" placeholder="Please enter your State." />
                <label asp-for="Input.State" class="ms-2 text-muted">State</label>
                <span asp-validation-for="Input.State" class="text-danger"></span>
            </div>
             <div class="form-floating mb-3 col-md-6">
                <input asp-for="Input.PostalCode" class="form-control" placeholder="Please enter your Postal Code." />
                <label asp-for="Input.PostalCode" class="ms-2 text-muted">PostalCode</label>
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>

            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
